@use '/scss/abstracts/mixins/responsive' as responsive;
@use '/scss/abstracts/variables/variables' as variables;

.container {
  width: 100%;
  max-width: var(--s-container);
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

@include responsive.mq-min(variables.$mq-md) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
