@use '/scss/abstracts/mixins/responsive' as responsive;
@use '/scss/abstracts/variables/variables' as variables;

body {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: var(--fw-medium);
  line-height: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 2.4rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

h1, 
.h1 {
  font-size: 3.6rem;
  letter-spacing: 0.2rem;
  line-height: 4rem;
}

h2, 
.h2 {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
}

h3, 
.h3 {
  font-size: 3.2rem;
  letter-spacing: 0.15rem;
  line-height: 3.6rem;

}

h4, 
.h4 {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  line-height: 3.8rem;

}

strong {
  font-weight: var(--fw-bold);
}

@include responsive.mq-min(variables.$mq-md) {
  h1,
  .h1 {
    font-size: 5.6rem;
    letter-spacing: 0.2rem;
    line-height: 5.8rem;
  }

  h2, 
  .h2 {
    font-size: 4rem;  
    letter-spacing: 0.15rem;
    line-height: 4.4rem;

  }
}