# dependencies
node_modules/
/.pnp
.pnp.js


# OS files
.DS_Store
Thumbs.db

# Env files
.env.local
.env

# next.js
.next/
next.config.json

# misc
.DS_Store
Thumbs.db
*.pem

# Compiled Sanity Studio
/dist


# Logs
/logs
*.log

# Coverage directory used by testing tools
/coverage

# Typescript
*.tsbuildinfo

# Dotenv and similar local-only files
*.local
