@use '/scss/abstracts/mixins/responsive' as responsive;
@use '/scss/abstracts/variables/variables' as variables;

.hero {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 51rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--c-black-100);
  color: var(--c-white);
}

.content {
  position: relative;
  z-index: 1;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.label {
  display: block;
  margin-bottom: 1.6rem;
  opacity: 0.5;
  font-size: 1.4rem;
  font-weight: var(--fw-regular);
  letter-spacing: 1rem;
  line-height: 1.9rem;
}

.text {
  margin-bottom: 2.8rem;
  opacity: 0.75;
}

.image {
  object-fit: cover;
  object-position: bottom;
}

@include responsive.mq-min(variables.$mq-md) {
  .hero {
    min-height: 64rem;
  }

  .label {
    margin-bottom: 2.4rem;
  }

  .text {
    max-width: 37ch;
    margin: 0 auto 4rem;
  }

}

@include responsive.mq-min(variables.$mq-lg) {
  .content {
    margin: 0;
    text-align: left;
  }
  
  .text {
    margin-right: 0;
    margin-left: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
