@use '/scss/abstracts/mixins/responsive' as responsive;
@use '/scss/abstracts/variables/variables' as variables;

.hero {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 51rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--c-black-100);
  color: var(--c-white);
  text-align: center;
}

.content {
  position: relative;
  z-index: 1;
}

.label {
  display: block;
  margin-bottom: 1.6rem;
  opacity: 0.5;
  font-size: 1.4rem;
  font-weight: var(--fw-regular);
  letter-spacing: 1rem;
  line-height: 1.9rem;
}

.text {
  opacity: 0.75;
}

.image {
  object-fit: cover;
}
