$mq-xs: 0 !default; // To match bootstrap
$mq-vs: 30em !default; // 480px
$mq-sm: 40em !default; // 640px
$mq-md: 48em !default; // 768px
$mq-lg: 64em !default; // 1024px
$mq-xl: 75em !default; // 1200px

